<template>
    <div class="about">
        <div class="p-4">
            <button
                type="button"
                class="shadow-md p-4 rounded-full outline-none bg-yellow-400"
                @click="goToTrainPage"
            >
                <span class="mdi mdi-account-voice text-white text-5xl"></span>
            </button>
        </div>
    </div>
</template>

<script>
export default {
    name: "About",
    data: () => ({
        id: "admin",
    }),
    methods: {
        goToTrainPage() {
            this.$router.push({
                name: "Train",
                params: {
                    code: this.id,
                },
                query: {
                    password: "DEFAULT_PASSWORD",
                },
            });
        },
    },
};
</script>
