<template>
    <div class="home p-4">
        <div
            v-if="product"
            class="mb-4 rounded-lg bg-blue-100 p-4"
        >
            <div>
                <img
                    :src="product.image"
                    class="rounded-xl w-28 h-28 border border-gray-300"
                />

                <div
                    v-text="product.name"
                    class="mt-2"
                ></div>

                <div
                    v-text="product.price"
                    class=" text-blue-500 font-bold"
                ></div>

                <div
                    v-html="product.description"
                    class="mt-2 bg-white p-2 text-sm text-gray-700 rounded-lg"
                >
                </div>
            </div>
        </div>

        <div class="flex flex-col gap-y-2">
            <div>
                <span class="mdi mdi-comment-outline"></span>
                ทั้งหมด {{ totalComments }} ความเห็น
            </div>

            <div>
                <input
                    v-model="filter.text"
                    class="rounded-lg border border-gray-300 px-2 py-1 bg-white"
                    placeholder="ค้นหา"
                />
            </div>
            <div
                v-for="(item) in filteredReviews"
                :key="item.time"
                class="rounded-lg bg-gray-100 shadow-sm border border-gray-300 p-2"
            >
                <div class="flex justify-between mb-2">
                    <div class="font-bold">
                        {{ item.username }}
                    </div>

                    <a
                        class="underline text-red-500"
                        @click="remove(item.time)"
                    >
                        ลบ
                    </a>
                </div>

                <div>
                    <span
                        v-for="st in item.star"
                        :key="st"
                        class="mdi mdi-star text-yellow-500"
                    >
                    </span>
                </div>

                <div class="flex gap-2">
                    <span
                        v-for="chip in item.chips"
                        :key="chip"
                        class="text-sm text-gray-500"
                    >
                        #{{ chip }}
                    </span>
                </div>

                <div class="rounded-lg bg-white p-2">
                    {{ item.comment }}
                </div>

                <div class="text-right text-sm mt-2">
                    {{ $dayjs(item.time).format("DD MMM YYYY HH:mm") }}
                </div>
            </div>
        </div>

        <div class="p-4 rounded-lg bg-gray-200 mt-4">
            <div class=" font-bold mb-4">
                แสดงความเห็น
            </div>

            <button
                type="button"
                class="bg-blue-400 px-2 py-1 rounded-lg shadow-md text-white"
                @click="show = !show"
            >
                {{ show ? 'ซ่อน' : 'แสดง' }}
            </button>

            <div v-if="show">
                <div class="flex gap-x-1 mt-4">
                    <a
                        v-for="i in 5"
                        :key="i"
                        @click="selected.star = i"
                    >
                        <span
                            class="mdi mdi-star text-gray-500 text-2xl"
                            :class="{
                                'text-yellow-500': i <= selected.star
                            }"
                        >
                        </span>
                    </a>
                </div>
                <div class="mt-2">
                    <div>
                        ชื่อ
                    </div>
                    <input
                        class="rounded-lg shadow-md px-2 py-1"
                        v-model="username"
                    />
                </div>

                <div class="mt-2">
                    <div>
                        ความคิดเห็น
                    </div>
                    <textarea
                        v-model="comment"
                        class="rounded-lg shadow-md px-2 py-1"
                        rows="4"
                    ></textarea>
                </div>

                <input-label
                    @input="username = $event.target.value"
                    :value="username"
                    label="ทดสอบ"
                ></input-label>

                <div class="py-2 flex gap-2 flex-wrap">
                    <chip
                        v-for="item in chips"
                        :key="item"
                        :text="item"
                        :active="selected.chips.some(i=>i === item)"
                        @click="manageChips(item)"
                    ></chip>
                </div>

                <div class="mt-4">
                    <button
                        type="button"
                        class="bg-green-600 px-2 py-1 rounded-lg shadow-md text-white"
                        @click="send"
                    >
                        ส่งข้อมูล
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import dayjs from "dayjs";
import axios from "axios";

// @ is an alias to /src
import Chip from "@/components/Chip.vue";
import InputLabel from "@/components/InputLabel.vue";

export default {
    name: "Home",
    components: {
        Chip,
        InputLabel,
    },
    data: () => ({
        show: true,

        product: {
            code: "",
            name: "",
            description: "",
            price: 0,
            image: "",
        },

        username: "",
        comment: "",

        reviews: [],

        chips: ["จัดส่งเร็ว", "ถูกมาก", "คุณภาพดี"],

        filter: {
            text: "",
        },

        selected: {
            star: 1,
            chips: [],
        },
    }),

    computed: {
        totalComments() {
            return this.reviews.length;
        },

        filteredReviews() {
            let arr = [...this.reviews];

            if (this.filter.text) {
                arr = arr.filter((x) => x.comment.includes(this.filter.text));
            }

            return arr;
        },
    },

    watch: {
        totalComments() {
            localStorage.setItem("comments", JSON.stringify(this.reviews));
        },
    },

    methods: {
        send() {
            this.reviews.push({
                username: this.username,
                comment: this.comment,
                chips: this.selected.chips,
                star: this.selected.star,
                time: dayjs().valueOf(),
            });

            this.username = "";
            this.comment = "";
            this.selected.star = 1;
            this.selected.chips = [];
        },

        remove(time) {
            let i = this.reviews.findIndex((x) => x.time === time);
            if (i !== -1) {
                this.reviews.splice(i, 1);
            }
        },

        manageChips(text) {
            let idx = this.selected.chips.findIndex((x) => x === text);

            //ถ้าหาไม่เจอ (ยังไม่เคยเลือก)
            if (idx === -1) {
                this.selected.chips.push(text);
            }
            //ถ้าหาเจอ
            else {
                this.selected.chips.splice(idx, 1);
            }
        },

        // formatDate(date) {
        //     return dayjs(date).format("DD MMM YYYY HH:mm");
        // },

        async fetchProduct() {
            let { data, status } = await axios.get(
                "https://www.dev-caninnovation.com/E_ORDER_API_DUMEX/training/api/product/PD001"
            );

            if (status === 200) {
                // this.product.code = data.code;
                // this.product.name = data.name;
                // this.product.description = data.description;
                // this.product.price = data.price;
                // this.product.image = data.image;

                //Assign ทั้ง Object
                this.product = { ...data };
            }
        },
    },

    mounted() {
        this.fetchProduct();
        this.reviews = JSON.parse(localStorage.getItem("comments") || "[]");
    },
};
</script>
