<template>
    <div>
        <div class="p-4">
            <div>
                RootGetters: {{ $store.getters.sayHelloToUser }}
            </div>

            <div>
                UserGetters: {{ $store.getters['user/whatIsRootTitle'] }}
            </div>
        </div>

        <div class="flex justify-center p-4">
            <base-login-form
                :username.sync="username"
                :password.sync="password"
                @submit="login"
            >
                <template v-slot:label-username="{ title }">
                    <div class="flex justify-between">
                        <div class="text-gray-500 font-bold text-sm">
                            {{ title }}
                        </div>
                        <span class="mdi mdi-account text-blue-500"></span>
                    </div>
                </template>
            </base-login-form>
        </div>
    </div>
</template>

<script>
import BaseLoginForm from "../components/BaseLoginForm.vue";
import { mapMutations } from "vuex";

export default {
    name: "Train",
    components: {
        BaseLoginForm,
    },

    computed: {
        // ...mapState({
        //     state: state => state
        // }),

        username: {
            get() {
                return this.$store.state.user.username;
            },
            set(val) {
                this.setUsername(val);
            },
        },
        password: {
            get() {
                return this.$store.state.user.password;
            },
            set(val) {
                this.setPassword(val);
            },
        },
    },

    methods: {
        ...mapMutations({
            setUsername: "user/SET_USERNAME",
            setPassword: "user/SET_PASSWORD",
        }),

        login() {
            //Login authentication
            // alert("Submit!");
            this.$sayHello();
            this.$store.dispatch('user/doSomething');
        },
    },

    mounted() {
        // this.username = this.$route.params.code;
        // this.password = this.$route.query.password;
        // let storeUsername = this.$store.state.username;
        // console.log("First Username", storeUsername);
        // this.setUsername("superAdmin");
        // let second = this.$store.state.username;
        // console.log("Second Username", second);
    },
};
</script>

<style>
</style>