<template>
    <form @submit.prevent="$emit('submit')">
        <div class="p-4 bg-gray-100 w-min border rounded-lg">
            <div>
                <slot
                    name="label-username"
                    :title="privateTitle"
                >
                    <div class="text-sm text-gray-600">
                        ชื่อผู้ใช้
                    </div>
                </slot>

                <input
                    type="text"
                    class="border border-gray-300 rounded-lg outline-none px-2 py-1"
                    autocomplete="off"
                    @input="$emit('update:username', $event.target.value)"
                    :value="username"
                />
            </div>

            <div class="mt-2">
                <div class="text-sm text-gray-600">
                    รหัสผ่าน
                </div>
                <input
                    type="password"
                    class="border border-gray-300 rounded-lg px-2 py-1 outline-none"
                    autocomplete="off"
                    @input="$emit('update:password', $event.target.value)"
                    :value="password"
                />
            </div>

            <div class="mt-4 flex justify-center">
                <button
                    type="submit"
                    class="px-2 py-1 text-sm bg-green-600 text-white rounded-lg shadow-md outline-none"
                >
                    ลงชื่อเข้าใช้
                </button>
            </div>
        </div>

        <slot></slot>
    </form>
</template>

<script>
export default {
    name: "BaseLoginForm",
    props: {
        username: {
            type: String,
            required: true,
        },
        password: {
            type: String,
            required: true,
        },
    },

    data: () => ({
        privateTitle: "BaseLoginForm",
    }),
};
</script>

<style>
</style>