<template>
    <button
        class="px-2 py-1 bg-gray-50 rounded-full shadow-md text-sm"
        :class="{
            'bg-red-500 text-white': active
        }"
        v-on="$listeners"
    >
        {{ text }}
    </button>
</template>

<script>
export default {
    name: 'Chip',
    props: {
        active: {
            type: Boolean,
            default: false
        },
        text: {
            type: String,
            required: true,
        }
    }
};
</script>

<style>
</style>