<template>
    <div>
        <div>{{ label }}</div>
        <input
            v-bind="$attrs"
            v-on="$listeners"
            class="rounded-lg px-4 py-1 border border-black"
        />
    </div>
</template>

<script>
export default {
    props: ["label"],
};
</script>

<style>
</style>