<template>
    <div id="app">
        <div
            id="nav"
            class="p-4 bg-blue-500 flex gap-x-2"
        >
            <router-link
                to="/"
                class="text-white"
            >
                Home
            </router-link>
            <span>
                |
            </span>
            <router-link
                to="/about"
                class="text-white"
            >
                About
            </router-link>
            <span>
                |
            </span>
            <router-link
                to="/train"
                class="text-white"
            >
                Train
            </router-link>
        </div>
        <router-view />
    </div>
</template>